[build]
setup = [
  "echo 'Setting up Django application'",
  "pip install --upgrade pip"
]

[install]
cmd = "pip install -r landingpage/requirements.txt"

[start]
cmd = "cd landingpage && /nix/var/nix/profiles/default/bin/python manage.py migrate && gunicorn landingpage.wsgi:application"

[phases]
  [phases.setup]
  name = "Setting up Python environment"
  
  [phases.install]
  name = "Installing Python dependencies"
  
  [phases.start]
  name = "Starting Django application"

[variables]
PYTHON_VERSION = "3.11"
PORT = "8000"