[build]
setup = [
  "echo 'Setting up Django application'"
]

[phases]
  [phases.setup]
  name = "Setting up Python environment"
  
  [phases.install]
  name = "Installing Python dependencies"
  
  [phases.start]
  name = "Starting Django application"

[variables]
PYTHON_VERSION = "3.11"
PORT = "8000"
NIXPACKS_PYTHON_PACKAGE_MANAGER = "requirements"

[install]
cmd = "pip install --pre -r requirements.txt"

[start]
cmd = "python manage.py migrate && gunicorn landingpage.wsgi:application"
