[variables]
PYTHON_VERSION = "3.11"
PORT = "8000"

[install]
cmds = [
  "pip install --upgrade pip",
  "pip install --pre Django==6.0b1",
  "pip install asgiref==3.10.0 dj-database-url==3.0.1 sqlparse==0.5.3 gunicorn==22.0.0 psycopg2-binary==2.9.9"
]

[start]
cmd = "cd landingpage && python manage.py migrate && gunicorn landingpage.wsgi:application"